
body{
	background: #e4e4e4;
}

#content{
	padding-top: 0;
}

.panel{
	text-align: center;
	padding: 5px;
	margin-bottom: 4px;
	background: #81078e; 
}

.panel>h4{
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.button.radius.right{
	border-width: 1.5px;
	height: 2.4em;
}

#popularContent{
	margin-top: 30px;
	margin-bottom: 80px;
	text-align: center;

}

#popularGroups{
	margin-top: 30px;
	margin-bottom: 80px;
	text-align: center;
}

#discoveryGroups{
	margin-bottom: 140px;
	text-align: center;
}


h1{
	font-size: 3em;
	color: #f1f1f1;
}

[class*="fi-"]{
	display: inline-block;
	color: #81078e;
}



