body{
	background: #f1f1f1;
}

#content{
	padding-top: 0;
}

.panel{
	text-align: center;
	padding: 5px;
	margin-bottom: 4px;
	background: white; 
}

.button.radius.right{
	border-width: 1.5px;
	height: 2.1em;
}

#cardArea{
	background: white;
}

.large-block-grid-3>li{
	padding: 0px 4px 15px 4px;
}

.no-touch.boxshadow.borderradius.rgba.mediaquery.card-bd.ltr.font-wf-sans.border-blockquote.theme-light{
	background: white;
}

