body{
	background: #774d8f;
}

#facebookLoginArea>a{
	background: #3b5998;
	padding: 10 6 10 6;
	color: white;
}

#facebookLoginArea>a:visited{
	background: #3b5998;
	padding: 10 6 10 6;
	color: white;

}

#facebookSignupArea>a{
	background: #3b5998;
	padding: 10 6 10 6;
	color: white;
}

#facebookSignupArea>a:visited{
	background: #3b5998;
	padding: 10 6 10 6;
	color: white;

}

.button.radius.right{
	margin-right:10px;
	background: transparent;
	border-color: white;
	border-width: 3.5px;
	height: 2.7em;
	font-weight: bold;
	font-family: 'walkway_ultraboldregular', sans-serif;

}