body{
	background: #f1f1f1;
}

#content{
	padding-top: 0;
}

.panel{
	text-align: center;
	padding: 5px;
	margin-bottom: 4px;
	background: white; 
}


#headline{
	margin-top: 6px;
	background: #81078e;

}


#itemGrid{
	margin-left: -2px;
	margin-right: -2px;

}

.button.radius.right{
	border-width: 1.5px;
	height: 2.1em;
}

