body{
	background: #e4e4e4;
}

.callout{
	margin-top: 4px;

}

.panel{
	text-align: center;
	padding: 8px;
	margin-bottom: 4px;
	background: white;
}


#headline{
	margin-top: 6px;
	background: #81078e;

}

#headerPanel{
	margin-top: 8px;
	background: transparent;
	text-align: center;
	height: 35px;
	border: 0px;
}

#headerPanel>h4{
	margin-top: -10px;
	color: white;
}

#leftFeedColumn{
	margin-top: -15px;
	padding-left: 6px;
	padding-right: 2px;

}

#rightFeedColumn{
	margin-top: -15px;
	padding-left: 2px;
	padding-right: 6px;

}

#mainColumn{
	background: transparent;

}


#content{
	padding-top: 0;
	background: #e9e9e9;
}

.itemTitle{
	text-align: center;
	margin-bottom: 0;
}

.posterComment{
	margin-bottom: 5px;

}

.button.radius.right{
	border-width: 1.5px;
	height: 2.4em;
}

.discussionStats{
	margin-bottom: 0;
	margin-top: -20px;
}

[class*="fi-"]{
	display: inline-block;
	color: #61006e;
	font-size: 1.5em;
}

a{
	color: #61006e;
}